<!-- Page Title -->

<div class="content_section page_title default">
    <div class="content clearfix">
        <h1>Contact Us</h1>
    </div>
</div>
<!-- End Page Title -->

<div class="content_section">
  <div class="full_content clearfix">
      
      <!-- Section -->
      <div class="it_section content_section hide_text_shadow">
          <div class="hm_no_overlay row_spacer2">
              <span class="bg_overlay_con"></span>
              <div class="section_content container centered">
                  
                  
                  
                  <div class="desc_text_block centered">We have several locations in Calgary city.</div>
                  <div class="desc_text_block centered">Please call us at <strong>403 454 6777</strong> or send us email at <strong>Douglasglen.Pharmacy@gmail.com</strong></div>
              </div>
          </div>
      </div>
      <!-- End Section -->

       <!-- Section -->
                <div class="it_section content_section hide_text_shadow">
                    <div class="hm_no_overlay">
                        <span class="bg_overlay_con"></span>
                        <div class="section_content container">
                            
                            <div class="main_title title_boxed no_border no_line centered">
                                <h2 class="upper fs24 bold2">Our Locations</h2>
                            </div>
                            
                            <div class="clear"></div>
                            <div class="hm_divider divi_border1 divi_centered divi_i_c divi_mid default_boc divi_space1 divi_hi2 default_bgc"></div>

                                                        <!-- Icons Con -->
                            <div class="hmicon_con hmicon_bordered_margin hmicon_i_above hmicon_align_c columns_normall hmicon_margin hmicon_bordered_con clearfix">
                                
                                <div class="hm_columns col-md-4 hmicon_i_border_col animated" data-animation="fadeInUp" data-animation-delay="300">
                                    <div class="hm_column_out">
                                        <div class="hm_column_con">
                                            <div class="hmicon_box hmicon_bordered hmicon_i_border">
                                                <div class="hmicon hmicon_is_hover">
                                                    <span class="hmicon_i full_radius fs40" style="box-shadow: 0 0 0 3px #00c7b0 inset; -webkit-box-shadow: 0 0 0 3px #00c7b0 inset;-moz-box-shadow: 0 0 0 3px #00c7b0 inset;color:#00c7b0;"><i class="ico-location-pin"></i>
                                                    <span class="hm_icon_in white_color full_radius" style="background:#00c7b0;box-shadow: 0 0 0 3px #00c7b0 inset; -webkit-box-shadow: 0 0 0 3px #00c7b0 inset;-moz-box-shadow: 0 0 0 3px #00c7b0 inset;"><i class="ico-location-pin"></i></span></span>
                                                    <span class="hmicon_t">Vista Travel Clinic</span>
                                                    <div class="hmicon_d">130A, 920 - 36 Street NE, Calgary, AB<br>Tel: 403 460 3226</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="hm_columns col-md-4 hmicon_i_border_col animated" data-animation="fadeInUp" data-animation-delay="400">
                                    <div class="hm_column_out">
                                        <div class="hm_column_con">
                                            <div class="hmicon_box hmicon_bordered hmicon_i_border">
                                                <div class="hmicon hmicon_is_hover">
                                                    <span class="hmicon_i full_radius fs40" style="box-shadow: 0 0 0 3px #00c7b0 inset; -webkit-box-shadow: 0 0 0 3px #00c7b0 inset;-moz-box-shadow: 0 0 0 3px #00c7b0 inset;color:#00c7b0;"><i class="ico-location-pin"></i>
                                                    <span class="hm_icon_in white_color full_radius" style="background:#00c7b0;box-shadow: 0 0 0 3px #00c7b0 inset; -webkit-box-shadow: 0 0 0 3px #00c7b0 inset;-moz-box-shadow: 0 0 0 3px #00c7b0 inset;"><i class="ico-location-pin"></i></span></span> <span class="hmicon_t">Abbeydale Travel Clinic</span>
                                                    <div class="hmicon_d">814 68 Street NE, CALGARY, AB T2A 6X7 <br> Tel: 587 470 9333</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="hm_columns col-md-4 hmicon_i_border_col animated" data-animation="fadeInUp" data-animation-delay="500">
                                    <div class="hm_column_out">
                                        <div class="hm_column_con">
                                            <div class="hmicon_box hmicon_bordered hmicon_i_border">
                                                <div class="hmicon hmicon_is_hover">
                                                    <span class="hmicon_i full_radius fs40" style="box-shadow: 0 0 0 3px #00c7b0 inset; -webkit-box-shadow: 0 0 0 3px #00c7b0 inset;-moz-box-shadow: 0 0 0 3px #00c7b0 inset;color:#00c7b0;"><i class="ico-location-pin"></i>
                                                    <span class="hm_icon_in white_color full_radius" style="background:#00c7b0;box-shadow: 0 0 0 3px #00c7b0 inset; -webkit-box-shadow: 0 0 0 3px #00c7b0 inset;-moz-box-shadow: 0 0 0 3px #00c7b0 inset;"><i class="ico-location-pin"></i></span></span> <span class="hmicon_t">Waldane Travel Clinic</span>
                                                    <div class="hmicon_d">T3101 - 19605 Walden Blvd SE, Calgary, AB T2X 4C3<br>Tel: 403 764 3663</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <div class="hm_columns col-md-4 hmicon_i_border_col animated" data-animation="fadeInUp" data-animation-delay="500">
                                    <div class="hm_column_out">
                                        <div class="hm_column_con">
                                            <div class="hmicon_box hmicon_bordered hmicon_i_border">
                                                <div class="hmicon hmicon_is_hover">
                                                    <span class="hmicon_i full_radius fs40" style="box-shadow: 0 0 0 3px #00c7b0 inset; -webkit-box-shadow: 0 0 0 3px #00c7b0 inset;-moz-box-shadow: 0 0 0 3px #00c7b0 inset;color:#00c7b0;"><i class="ico-location-pin"></i>
                                                    <span class="hm_icon_in white_color full_radius" style="background:#00c7b0;box-shadow: 0 0 0 3px #00c7b0 inset; -webkit-box-shadow: 0 0 0 3px #00c7b0 inset;-moz-box-shadow: 0 0 0 3px #00c7b0 inset;"><i class="ico-location-pin"></i></span></span> <span class="hmicon_t">Douglasglen Travel Clinic</span>
                                                    <div class="hmicon_d">124-11420 27th Street SE, Calgary, T2Z 3R6<br>Tel: 403 454 6777</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hm_columns col-md-4 hmicon_i_border_col animated" data-animation="fadeInUp" data-animation-delay="500">
                                    <div class="hm_column_out">
                                        <div class="hm_column_con">
                                            <div class="hmicon_box hmicon_bordered hmicon_i_border">
                                                <div class="hmicon hmicon_is_hover">
                                                    <span class="hmicon_i full_radius fs40" style="box-shadow: 0 0 0 3px #00c7b0 inset; -webkit-box-shadow: 0 0 0 3px #00c7b0 inset;-moz-box-shadow: 0 0 0 3px #00c7b0 inset;color:#00c7b0;"><i class="ico-location-pin"></i>
                                                    <span class="hm_icon_in white_color full_radius" style="background:#00c7b0;box-shadow: 0 0 0 3px #00c7b0 inset; -webkit-box-shadow: 0 0 0 3px #00c7b0 inset;-moz-box-shadow: 0 0 0 3px #00c7b0 inset;"><i class="ico-location-pin"></i></span></span> <span class="hmicon_t">  Cougarridge Travel Clinic</span>
                                                    <div class="hmicon_d">201- 722 85th Street SW, Calgary, AB, T3H 1S6<br>Tel: 403 454 2333</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hm_columns col-md-4 hmicon_i_border_col animated" data-animation="fadeInUp" data-animation-delay="500">
                                    <div class="hm_column_out">
                                        <div class="hm_column_con">
                                            <div class="hmicon_box hmicon_bordered hmicon_i_border">
                                                <div class="hmicon hmicon_is_hover">
                                                    <span class="hmicon_i full_radius fs40" style="box-shadow: 0 0 0 3px #00c7b0 inset; -webkit-box-shadow: 0 0 0 3px #00c7b0 inset;-moz-box-shadow: 0 0 0 3px #00c7b0 inset;color:#00c7b0;"><i class="ico-location-pin"></i>
                                                    <span class="hm_icon_in white_color full_radius" style="background:#00c7b0;box-shadow: 0 0 0 3px #00c7b0 inset; -webkit-box-shadow: 0 0 0 3px #00c7b0 inset;-moz-box-shadow: 0 0 0 3px #00c7b0 inset;"><i class="ico-location-pin"></i></span></span> <span class="hmicon_t"> NewBrighton Travel Clinic</span>
                                                    <div class="hmicon_d">151 Copperpond Blvd. SE, Calgary, AB, T2Z 0Z7<br>Tel: 403 453-3363</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- End Icons Con -->
                            
                            
                            <!-- Google Map -->
                            <!--
                            <div class="google_map_con default_map no_box_shadow radius5 border1 go_map_bord">
                                <div class="google_map" data-lat="-12.043333" data-long="-77.028333" data-icon="<%=image_url('location2.png')%>" data-desc="Your Main location description" data-zoom="15" data-color="#000000" data-style="simple" data-controls="false" style="height:400px;">
                                    <span class="location" data-lat="-12.040397656836609" data-long="-77.03373871559225" data-desc="130A, 920 - 36 Street NE,Calgary, AB" data-icon="<%=image_url('location2.png')%>"></span>
                                    <span class="location" data-lat="-12.050047116528843" data-long="-77.02448169303511" data-desc="814 68 ST NE, CALGARY, AB T2A 6X7" data-icon="<%=image_url('location2.png')%>"></span>
                                    <span class="location" data-lat="-12.064804866577001" data-long="-77.01154422636042" data-desc="3101 - 19605 Walden Blvd SE, Calgary, AB T2X 4C3" data-icon="<%=image_url('location2.png')%>"></span>
                                    <span class="location" data-lat="-12.070397656836609" data-long="-77.05373871559225" data-desc="124-11420 27th Street SE, Calgary, T2Z 3R6" data-icon="<%=image_url('location2.png')%>"></span>
                                    <span class="location" data-lat="-12.080047116528843" data-long="-77.06448169303511" data-desc="201- 722 85th Street SW, Calgary, AB, T3H 1S6" data-icon="<%=image_url('location2.png')%>"></span>
                                    <span class="location" data-lat="-12.094804866577001" data-long="-77.07154422636042" data-desc="151 Copperpond Blvd. SE, Calgary, AB, T2Z 0Z7" data-icon="<%=image_url('location2.png')%>"></span>
                                </div>
                            </div>
                            -->
                            <!-- End Google Map -->
                        </div>
                    </div>
                </div>
                <!-- End Section -->
                <br>
                <br>
      
  </div>
</div>


