<%ap = @appointment%>

<h4>New Appointment  received  at <%=ap.created_at.strftime("at %I:%M%p %Y-%d-%m")%></h4>
<p></p>
<b>Name:</b>  <%=ap.name%> <br>
<b>Pone:</b>  <%=ap.phone%><br>
<b>Email:</b>  <%=ap.email%><br>
<b>Clinic Location:</b>  <%=ap.location%><br>
<b>Destination(s):</b>  <%=ap.destination%><br>
<b>Health Card Number:</b>  <%=ap.health_card_number%><br>
<b>Additional Health Card Number::</b>  <%=ap.additional_health_card_number%><br>
<b>Travel Date:</b>  <%=ap.travel_date.strftime("%Y/%d/%m")%><br>
<b>Requested Appointment Date and Time:</b>  <%=ap.ap_datetime.strftime("%Y-%d-%m at %I:%M%p")%><br>
<b>Message:</b>  <%=ap.message%><br>